.DS_Store
__pycache__
galfind.egg-info
test_pipeline.py
galfind/_version.py
stash info
galfind/spectra/models/IGM_attenuation/Inoue+14_IGM_grid.h5
galfind/IGM_attenuation/Inoue+14_IGM_grid.h5
galfind/IGM_attenuation/Inoue14_IGM_grid.h5
configs/EAZY_templates/templates/*/*_galfind.param
galfind/spectra/models/IGM_attenuation/Inoue+14_IGM_grid.h5
remove_by_eye_local.py
galfind/configs/EAZY_templates/templates/LarsonSEDTemplates/*
examples/reionization_paper/test_plots
pre-commit-config.yaml
docs/build
docs/source/_autosummary
docs/API.rst
.readthedocs.yaml
dist
galfind-0.1.dev658+ge85f12d
examples/reionization_paper
build
configs/galfind_config_goolsby.ini
galfind/configs
configs/DJA_spectral_catalogues/DJA_v4_2.csv
testing/test_work
htmlcov
.coverage
.pytest_cache
