numpy
matplotlib
astropy
tqdm
pathlib
h5py
scipy
configparser 
json
logging	
#pyregion # removed dependency
sep
#timeit
cv2
joblib 
#contextlib # standard lib
astroquery
trilogy
yagmail
sklearn
skimage
eazy
bagpipes
photutils 
regions
typing
kneed
#collections # standard lib
grizli
msaexp
#reproject