numpy
matplotlib
astropy
tqdm
pathlib
h5py
scipy
configparser 
json
logging	
pyregion
sep
timeit
cv2
joblib 
contextlib
astroquery
trilogy3
yagmail
sklearn
skimage
eazy
bagpipes
photutils 
regions
typing
kneed
collections
grizli
msaexp
spextra # for obtaining MICADO filters only